---
import Link from './Link.astro';

interface Props {
    backLink?: string;
    backText?: string;
}

const { backLink, backText } = Astro.props;
---

<footer class="text-center mt-12 pt-4 text-sm" style="border-top: 4px double var(--color-amber-dim);">
    {backLink && backText ? (
        <p><Link href={backLink}>{backText}</Link></p>
    ) : (
        <p>Made by <Link href="https://github.com/wet333" target="_blank">_wet333</Link></p>
    )}
</footer>
